<div class="row lesson-card">
  <div class="col-4">
    <img
      src="https://imgproxy3.cdnforo.com/cXxoy5AfwiI8DyBXS97qWPkt1QiD29HPdxdAcy9_lRA/h:216/plain/http://data.tinhte.vn/data/attachment-files/2019/01/4538621_frameTT_ces19-Recovered.png">
  </div>
  <div class="col-8" style="padding-left: 40px">
    <h3 style="font-size:21px; line-height: 27px; font-weight: 700">Giao Động Điều Hoà</h3>
    <div>
      <span>Giới thiệu chuyên đề dao động điều hòa, vật lý 12 chương dao động cơ ôn thi quốc gia Chuyên đề dao động điều hòa cơ bản bao gồm các lý thuyết cơ bản về ...</span>
    </div>
    <div style="bottom: 0; position: absolute">
      <img src="https://www.facebook.com/search/async/profile_picture/?fbid=100016201890419&width=72&height=72" style="width: 40px; height: 40px; border-radius: 100%;">

      <span style="margin-left: 15px; color: #3b5998">Loan Kim</span>
      <span style="color: #DBDBDB; font-size: 12px"> - 6h truoc - 100 luot xem</span>
    </div>
  </div>

</div>
