<nav class="top-bar navbar navbar-expand-lg">
  <a class="logo" routerLink="/home" title="Fly home">
    <img src="https://d24s38jd6z1bka.cloudfront.net/9b39cb11/images/deadlyduck/logos/easy-lms-logo.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="top-left collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Clip Thí Nghiệm <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thi Thử</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Bài Tập
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Liên Hệ</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">


          <div *ngIf="currentUser != null; else elseBlock">
            <!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-profile dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="{{currentUser.avatar}}"> {{currentUser.fullName}}
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/user">Cá Nhân</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/login" (click)="signOut()">Đăng Xuất</a>
              </div>
            </div>

          </div>
          <ng-template #elseBlock>
            <a class="nav-link" routerLink="/login">Đăng Nhập <span class="sr-only">(current)</span></a>
          </ng-template>
        </li>

      </ul>
    </form>
  </div>
</nav>
