<div class="main-container">
  <div class="row page-intro">
    <div class="col-sm page-intro-left">
      <h1>Ôn Tập Trực Tuyến</h1>
      <br>
      <span class="intro intro1">Làm bài tập vật lí chưa bao giờ</span>
      <span class="intro intro2"> dễ dàng & vui như thế này! </span>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nhập email để nhận bài giảng mới"
               aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-register" type="button">Đăng Ký</button>
        </div>

      </div>
    </div>
    <div class="col-sm page-intro-right">
      <img class="intro-img1"
           src="https://d24s38jd6z1bka.cloudfront.net/761da01a/images/deadlyduck/illustrations/questionmarks.svg">
      <div>

        <img class="intro-img2"
             src="https://d24s38jd6z1bka.cloudfront.net/761da01a/images/deadlyduck/illustrations/knowly-pointing--left--xmas.svg">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" style="background-color: #EEEEEE">
      <!--<app-menu-left></app-menu-left>-->
    </div>
    <div class="col-8">
      <app-lesson-card></app-lesson-card>
      <app-lesson-card></app-lesson-card>
      <app-lesson-card></app-lesson-card>
      <app-lesson-card></app-lesson-card>
      <app-lesson-card></app-lesson-card>

      <nav aria-label="..." style="float: left; width: 100%; margin-top:20px;">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Trước</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Tiếp</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
